/* .contentWrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1rem;
  border-radius: 10px;
  border: 2px solid #eee;
  border-bottom: 5px solid #eee;
  border-top: none;
  box-shadow: 0px 5px 10px #2222, 0px 10px 15px #2222, 0px 15px 25px #2222;
}

.card button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--primary);
  font-size: 20px;
  color: white;
}

.card button:hover {
  border: 2px solid #3e78b9;
}

.card button:active {
  scale: 0.95;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button.link {
  background-color: transparent;
  width: auto;
  display: inline-flex;
  color: var(--darkText);
}

button.link:hover {
  outline: none;
  border: none;
} */
